@import '../../variable';


.bodyD {
   border-left: 5px;
   width: 50%;
   font-size: 27px;
}

.EncHaut {
   border: 2px solid $black;
   border-radius: 14px;
   height: 210px;
   margin: 25px;
   padding: 5px;
   box-shadow: -8px 8px 0px $pink, -8px 8px 0px 2px $black;
}

.EncBas {
   border: 2px solid $black;
   border-radius: 14px;
   min-height: 300px;
   margin: 25px;
   box-shadow: -8px 8px 0px $pink, -8px 8px 0px 2px $black;
}

.gif {
   padding: 20px;
   width: 100%;
}