@font-face {
  font-family: "bison";   /*Can be any text*/
  src: local("bison"),
    url("./assets/font/bison.ttf") format("truetype");
}

body {
  font-family: bison;
}

html,body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
